.container {
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.buttStyle {
    border-radius: 5px;
    height: 40px;
    width: 149px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: blueviolet;
}

.outputStyle {
    font-size: 22px;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainOutputStyle {
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputStyle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 40px;
    width: 142px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 0, 0);
    border-color: black;
}