.container {
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.outputStyle {
    font-size: 22px;
    margin: 5px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainOutputStyle {
    font-size: 22px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imgStyle {
    height: 100px;
    margin: 5px;
    padding: 0px;
}